

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  margin: 0;
  height: 100%;
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  font-family: Helvetica;
  /* background: url("background.jpg") 0% 0% / cover no-repeat; */
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
html {
  height: 100%;
}

.triangle-left {
	width: 0;
	height: 0;
    position: absolute;
	border-top: 30vw solid transparent;
	border-left: 30vw solid rgba(255, 94, 0, 0.907);
	border-bottom: 50% solid transparent;
    bottom: 0;
    left: 0;
}
.triangle-right {
	width: 0;
	height: 0;
    position: absolute;
	border-top: 30vw solid transparent;
	border-right: 30vw solid rgb(255, 94, 0,.907);
	border-bottom: 50% solid transparent;
    bottom: 0;
    right: 0;
}
#bluebg{
  width: 100vw;
  height: 100vh;
  
  background-color: rgba(38, 0, 255, 0.466);
  position: absolute;
  z-index: -1;
}
.logo-img{
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.logo{
  margin: auto;
  width: 100px;
  height: auto;
  
  z-index: 10;
  
}
h1 {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 5vh;
}
h1 span{
  color: #e97b1a;
  font-weight: bolder; 
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1);
}

.details {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  width: 50vw;
  margin: auto;
  margin-bottom: 5vh;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.connect{
  font-family: 'Roboto', sans-serif;
}
.connect img{
  /* display: grid; */
  margin: 1vw .5vw;
  width: 2vw;
  /* grid-area: 2vw; */
   /* filter: invert(1); */
   background-color: white;
   border-radius: 30px;
   padding: .6vw;
}
a{
  background-color: rgba(255, 0, 0, 0);
  width: 0;  
}